<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <form>
    <div class="form-group">
      <label for="name">Key words</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">URL</label>
      <input type="text" class="form-control" id="alterEgo">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <div>
    **{{result[0]}}**
  </div>
</div>
